a {
  text-decoration: none;
  color: #6f9fec; }

img {
  border: 0; }

.wrapper {
  width: 100%;
  max-width: 600px;
  margin: 10px auto 0;
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #424242;
  border: 0;
  background: #ffffff; }

.logo {
  display: inline-block;
  max-width: 110px; }
  .logo__img {
    width: 100%;
    display: inline-block; }

.header {
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e8e8e8; }

.footer {
  padding-top: 15px;
  margin-top: 10px;
  border-top: 1px solid #e8e8e8; }
  .footer__box-text {
    font-size: 13px;
    font-weight: 700;
    text-align: center; }
    .footer__box-text-item {
      margin-bottom: 5px; }

.container {
  padding: 0 6%; }

.bp-certificate-code {
  font-size: 17px; }
  .bp-certificate-code__row {
    width: 100%; }
    .bp-certificate-code__row_1 {
      background: #d2dbdf;
      padding: 50px 0; }
    .bp-certificate-code__row_2 {
      margin-bottom: 20px; }
  .bp-certificate-code__triangle {
    width: 0;
    height: 0;
    margin-left: 10px;
    border-top: 40px solid #d2dbdf;
    border-left: 50px solid transparent; }
  .bp-certificate-code__logo {
    display: table;
    margin-bottom: 30px; }
    .bp-certificate-code__logo-img {
      width: 85px;
      padding-right: 15px;
      display: table-cell; }
    .bp-certificate-code__logo-text {
      display: table-cell;
      vertical-align: middle;
      color: #2e576b;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase; }
  .bp-certificate-code__message {
    margin-bottom: 30px; }
    .bp-certificate-code__message-text {
      font-size: 20px;
      color: #2e576b; }
    .bp-certificate-code__message-link {
      font-weight: 700;
      text-transform: uppercase; }
  .bp-certificate-code__card {
    height: 201px;
    width: 100%;
    max-width: 280px;
    min-width: 250px;
    background: #78909c;
    padding: 0 7% 0 6%;
    border-radius: 10px; }
    .bp-certificate-code__card-title {
      padding-top: 30px;
      color: #ffffff;
      margin-bottom: 15px; }
    .bp-certificate-code__card-code {
      width: 272px;
      display: inline-block;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      color: #ffa726;
      margin-bottom: 10px;
      background: #ffffff;
      padding: 8px 0;
      border-radius: 7px; }
    .bp-certificate-code__card-text {
      color: #ffffff; }
      .bp-certificate-code__card-text span {
        font-weight: 700;
        color: #ffa726; }
  .bp-certificate-code__box-text {
    width: 100%; }
    .bp-certificate-code__box-text-item {
      margin-bottom: 20px; }
    .bp-certificate-code__box-text-link {
      text-transform: uppercase; }
