extends ../../layout/root

block main
	+b.bp-certificate-code
		+e.row_1
			.container
				+e.logo
					+e.IMG(src="https://hotline.ua/public/i/help/loyalty/logo.png" alt="Бонусна програма").logo-img
					+e.SPAN.logo-text БОНУСНА ПРОГРАМА
				+e.message
					+e.message-text Вітаємо!
					+e.message-text Ваш подарунковий сертифікат
					+e.message-text в інтернет-магазин 
						+e.A(href="https://www.google.com/" target="_blank").message-link ХХХХХХ
				+e.card
					+e.card-title Код подарункового сертифікату:
					+e.card-code ХХХХХХХХХХХХХХХ
					+e.card-text Номінал:
						SPAN 1000 грн
					+e.card-text Термін дії:
						SPAN 30 днів
		+e.row_2
			.container
				+e.triangle
		+e.row_3
			.container
				+e.box-text
					+e.box-text-item Для того, щоб скористатися подарунковим сертифікатом,<br> введіть зазначений вище код під час замовлення товару<br> в інтернет-магазині 
						+e.A(href="https://www.google.com/" target="_blank").box-text-link ХХХХХХХ
					+e.box-text-item Детальніше про правила використання сертифікату можна<br> дізнатися на сайті 
						+e.A(href="https://www.google.com/" target="_blank").box-text-link ХХХХХХХХ
					+e.box-text-item Дякуємо, що ви з нами!