include ../../node_modules/bemto.pug/bemto.pug

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
html(lang="ru")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="style.css")
		title Hotline - mail
	body

		// content
		+b.TABLE(cellpadding="0" cellspacing="0").wrapper
			tbody
				tr
					td
						+b.header
							+b.A(href="#" target="_blank").logo Logo
				tr
					td
						block main
				tr
					td
						+b.footer
							+e.box-text
								+e.box-text-item 2019
		// content